@import "../../global.scss";

.testimonials {
  height: calc(100vh - 70px);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    justify-content: space-around;
  }

  h1 {
    margin: 30px;
    font-size: 50px;
    overflow: hidden;
    color: crimson;

    @include mobile {
      font-size: 20px;
    }
  }
  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;

      height: 100%;
    }

    .card {
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;

      @include mobile {
        width: 300px;
        height: 100%;
        margin: 10px 0;
      }

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;

        @include mobile {
          width: 300px;
          height: 100%;
          margin: 1;
        }
      }
      &:hover {
        transform: scale(1.05);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          &.left,
          &.right {
            height: 25px;
          }
          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;

            @include mobile {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(220, 20, 60, 0.068);
        @include mobile {
          font-size: 12px;
          padding: 5px;
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          margin-bottom: 5px;
          @include mobile {
            font-size: 16px;
          }
        }
        h4 {
          color: rgb(121, 115, 115);
          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
  }
}
